body {
  background: #666;
  color: white;
}

#version {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color:white;
}

#login-form {
  flex: 1;
  background: red;
}

#login-image {
  flex: 2;
  background: green;
}