body {
  background: #232323;
  color: white;
}

h6 {
  color: white;
}

.login {
  height: 100%;
  margin: 0;

  .login-form {
    position: relative;
    height: 100%;

    form {
      position: absolute;
      top: 150px;
      width: 90%;
    }
  }

  .login-image {
    position: absolute;
    top: 50px;
  }
}

.frame {
  .frame-heading {
    background: #576573;
  }

  .frame-footer {
    background: transparent;
  }
}
