.login {
  height: 100%;
  margin: 0;

  .login-form {
    position: relative;
    height: 100%;

    .logindiv {
      position: absolute;
      top: 160px;
      width: 90%;
    }
  }

  .login-image {
    position: absolute;
    top: 50px;
  }
}

.login-tabs {
  padding-left: 10%;
  margin-top: 25%;
  .tab-title {
    a {
      background-color: #232323;
      color: rgba(255, 255, 255, 0.38);

      &:hover {
        background-color: #181818;
        color: rgba(255, 255, 255, 0.38);
      }
    }

    &.active {
      a {
        background-color: #232323;
        color: white;
        border-bottom: 1px solid white;
      }
    }
  }
}

.loginLoading {
  background-color: #232323;
  color: #fff;
  width: 100%;
  height: 50%;

  h2 {
    color: #fff;
  }

  .loginLoader {
    position: absolute;
    left: 45%;

    .spinner1 {
      width: 80px;
      height: 80px;
      border: 2px solid #4876A5;
      border-bottom-color: transparent;
      border-top-color: transparent;
    }

    .spinner2 {
      width: 34px;
      height: 34px;
      left: 22px;
      top: 22px;
      border: 2px solid #4876A5;
      border-bottom-color: transparent;
      border-top-color: transparent;
    }
  }
}
