html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  -webkit-user-select: none;
}

h6 {
  background: #232323;
  color: white;
}

body {
    background: #232323;
    color: white;
    display: flex;
}

a {
    text-decoration: none;
}

.ghostBtn {
  border-radius: 8px;
  height: 38px;
  font-size: 15px;
  line-height: 5px;
}

.loginBtn {
  background-color: #579457;
  border-color: #366d36;
  color: #fff;
}

.loginBtn:hover, .loginBtn:focus {
  background-color: #459D45;
}

.spacer-95 {
  height: 95%;
}

.signupBtn {
  background-color: #3277A8;
  border-color: #225274;
  color: #fff;
}

.signupBtn:hover, .signupBtn:focus {
  background-color: #3783B8;
}

.ghostDialog {
  background-color: #232323;
  color: #fff;
  width: 100%;
  height: 50%;

  h1, h2, h3, h4, h5 {
    color: white;
  }
}

.frame {
  .frame-heading {
    background: #576573;
  }

  .frame-footer {
    background: transparent;
  }
}

.reveal-modal-bg {
  background: rgba(255, 255, 255, 0.45);
}

input[type=text], input[type=password],
input[type=text]:focus, input[type=password]:focus,
textarea, textarea:focus {
  background-color: #232323;
  color: #fff;
}

.frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .frame-heading {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

    -webkit-app-region: drag;

    .title {
      padding: 8px;
      display: inline-block;
    }

    .window-actions {
      display: inline-block;
      margin: 0 5px;
      height: 100%;
      padding: 8px;
    }
  }

  .frame-body {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 30px;

    padding: 8px;
  }

  .frame-footer {
    padding: 3px 8px;
    height: 30px;

    z-index: 3;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* We making our own font icon (sort of) */
.fa-minimize {
  vertical-align: bottom;
  &::before {
    content: "\f068"; // fa-minus alias
  }
}