{"heartbeatInterval":"300","maxMatchCount":"50","matchmakingSecret":"super_secret_12345","matchmakingPort":"2178","hiresTimer":"true","serverIp":"","matchmakingIP":"127.0.0.1","serverMaxBacklog":"10000","serverPort":"2546","serverID":"1","tickGroupSize":"10"}
